@using LModels
@model IEnumerable<Teacher>

<div class="row">
    <h4 class="card-title">Teacher List</h4>
    <div class="text-end">
        <a class="btn btn-secondary" asp-action="Create" asp-area="Admin">
            <i class="bi bi-plus-circle"></i>
            Create a new Teacher
        </a>
    </div>

    <table class="table table-striped" id="teacherTable">
        <thead>
            <tr>
                <th> TeacherID </th>
                <th> FullName</th>
                <th> TeacherCode</th>
                <th> Email</th>
                <th> Phone </th>
                <th> Image </th>
            </tr>
        </thead>
    </table>
</div>

@section scripts {
    @*Đoạn mã hiển thị thông báo alert*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/AdminLayout/assets/js/Notification.js"></script>
    <script src="~/AdminLayout/assets//js/Teacher.js"></script>
} 