@using LModels
@model User

<div class="container-scroller">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card text-center" style="width: 300px;">
                <div class="card-header h5 text-white bg-gradient-primary">Password Reset</div>
                <div class="card-body px-5">
                    <p class="card-text py-2">
                        Enter your email address and we'll send you an email with instructions to reset your password.
                    </p>
                    <form asp-action="ForgotPassword" method="Post">
                        <div data-mdb-input-init class="form-outline">
                            <label class="form-label" for="typeEmail">Email input</label>
                            <input type="email" asp-for="Email" class="form-control my-3" />

                        </div>
                        <button type="submit" data-mdb-ripple-init class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">Send Reset Link</button>
                        <div class="d-flex justify-content-between mt-4">
                            <a class="" asp-action="Login" asp-controller="Auth" asp-area="Admin">Login</a>
                            <a class="" asp-action="Register" asp-controller="Auth" asp-area="Admin">Register</a>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
