@using LModels
@model IEnumerable<Course>

<div class="row">
    <h4 class="card-title">Course List</h4>
    <div class="text-end">
        <a class="btn btn-secondary" asp-action="Create" asp-area="Admin">
            <i class="bi bi-plus-circle"></i> Create a new Product
        </a>
    </div>

    <table class="table table-striped" id="courseTable">
        <thead>
            <tr>
                <th class="text-center">CourseID</th>
                <th class="text-center">Course Name</th>
                <th class="text-center">Image</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
    </table>
    <link rel="stylesheet" href="//cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css" />
</div>

@section scripts {
    @*Đoạn mã hiển thị thông báo alert*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/AdminLayout/assets/js/Notification.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="~/AdminLayout//assets/js/Course.js"></script>
}
