@using LModels
@model IEnumerable<FAQ>

<div class="row">
	<h4 class="card-title">FAQ List</h4>
	<div class="text-end">
		<a class="btn btn-secondary" asp-action="Create" asp-area="Admin">
			<i class="bi bi-plus-circle"></i> Create a new FAQ
		</a>
	</div>

	<table class="table table-striped" id="fAQTable">
		<thead>
			<tr>
				<th class="text-center">FAQID</th>
				<th class="text-center">Question</th>
				<th class="text-center">Answer</th>
				<th class="text-center">Actions</th>
			</tr>
		</thead>
	</table>
</div>

@section scripts {
	@*Đoạn mã hiển thị thông báo alert*@
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="~/AdminLayout/assets/js/Notification.js"></script>
	<script src="~/AdminLayout/assets/js/FAQ.js"></script>

	<script>
		function showFullAnswer(id) {
			var descriptionElement = document.getElementById("answer_" + id);
			Swal.fire({
				title: 'Answer',
				text: descriptionElement.textContent,
				icon: 'info',
				confirmButtonText: 'Close'
			});
		}
	</script>
}
<style>
	.description-container {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 200px;
		display: inline-block;
		vertical-align: middle;
	}
</style>