@using LModels
@model IEnumerable<AboutUs>


<div class="owl-carousel header-carousel position-relative">
	<div class="owl-carousel-item position-relative">
		<img src="~/img/Slider-4.jpg" style="height: 400px; object-fit: cover;" />
		<div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
			<div class="container">
				<div class="row justify-content-start">
					<div class="col-sm-10 col-lg-8">
						<h1 class="display-3 text-white animated slideInDown text-center">About Us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-2 sidebar bg-light mt-2"></div>
		<div class="col-10">
			@foreach (var about in Model)
			{

				<p class="mt-6">@Html.Raw(about.Content)</p>
			}

			<!-- Add more course details as needed -->
		</div>

	</div>
</div>