@using LModels
@model Contact

<div class="card shadow boder-0 mt-4">
	<div class="card-body p-4">
		<h2>Create Contact</h2>
		<form class="bg-gray" asp-action="Create" enctype="multipart/form-data">
			<div class="mb-3 mt-3 form-group">
				<label for="name">Brand name:</label>
				<input type="text" class="form-control"
					   placeholder="Enter Brand name" asp-for="BranchName">
				<span class="text-danger" asp-validation-for="BranchName"></span>
			</div>

			<div class="mb-3 mt-3 form-group">
				<label for="Email">Email:</label>
				<input type="email" class="form-control"
					   placeholder="Enter email" asp-for="Email">
				<span class="text-danger" asp-validation-for="Email"></span>
			</div>

			<div class="mb-3 mt-3 form-group">
				<label for="Phone">Phone:</label>
				<input type="number" class="form-control"
					   placeholder="Enter Phone" asp-for="Phone">
				<span class="text-danger" asp-validation-for="Phone"></span>
			</div>

			<div class="mb-3 mt-3 form-group">
				<label for="Phone">Phone1:</label>
				<input type="number" class="form-control"
					   placeholder="Enter Phone1" asp-for="Phone1">
				<span class="text-danger" asp-validation-for="Phone1"></span>
			</div>

			<div class="mb-3 mt-3 form-group">
				<label for="Phone">Phone2:</label>
				<input type="number" class="form-control"
					   placeholder="Enter Phone" asp-for="Phone2">
				<span class="text-danger" asp-validation-for="Phone2"></span>
			</div>

			<div class="mb-3 mt-3 form-group">
				<label for="Address">Address:</label>
				<input type="text" class="form-control"
					   placeholder="Enter Address" asp-for="Address">
				<span class="text-danger" asp-validation-for="Address"></span>
			</div>

			<div class="mb-3 mt-3 form-group">
				<label for="Map">Map:</label>
				<input type="text" class="form-control"
					   placeholder="Enter Google Maps Embed URL" asp-for="Map">
				<span class="text-danger" asp-validation-for="Map"></span>
			</div>

			<div class="mb-3 mt-3">
				<label for="image">Image:</label>
				<input type="file" class="form-control"
					   placeholder="Enter ImagePath" name="ImageFile">
				<span asp-validation-for="ImageFile" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-secondary" asp-action="Index">Back</button>
			<button type="submit" class="btn btn-secondary">Submit</button>
		</form>
	</div>
</div>